/* FooterMenu.css */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 280px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700; /* Цвет при наведении */
}

.active {
    font-weight: bold; /* Например, делаем текст активной ссылки жирным */
    border-bottom: 2px solid #c4a864; /* Добавляем синюю линию под активной ссылкой */
    padding-bottom: 2px; /* Дополнительный отступ снизу, чтобы сместить линию немного вниз */
}