

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5); /* Серый полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    color: #ff0000; /* Красный цвет текста */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal h2 {
    margin-bottom: 20px;
}

.modal input {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 16px); /* Ширина - отступы */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal button:hover {
    background-color: #0056b3;
}

.available-courses-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.available-courses-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.available-courses-container ul {
    list-style-type: none;
    padding: 0;
}

.available-courses-container li {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

.available-courses-container li h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.available-courses-container li p {
    margin: 5px 0;
}

.available-courses-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.available-courses-container button:hover {
    background-color: #0056b3;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.modal h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.modal button:hover {
    background-color: #0056b3;
}
